/* تعيين صورة الخلفية */
body {
  font-family: Arial, sans-serif;
  background: url('/static/backgroun.png') no-repeat center center fixed;
  background-size: cover; /* يجعل الصورة تغطي كامل الشاشة */
  direction: rtl;
  padding: 0;
  color: #333;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* لضمان أن المحتوى يبدأ من الأعلى */
  align-items: center;
  height: 100vh; /* جعل الصفحة تغطي الشاشة بالكامل */
  margin: 0;
  text-align: right; /* جعل النصوص تتجه إلى اليمين */
}

h1 {
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* إضافة تأثير الظل للنص */
  font-size: 35px;
  margin-top: 20px; /* إضافة مسافة من الأعلى */
  margin-bottom: 20px;
  padding-right: 20px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 20px;
  margin-top: 40px;
  width: 100%;
  max-width: 1200px; /* تحديد أقصى عرض للبطاقات */
}

.card {
  background: rgba(255, 255, 255, 0.8); /* إضافة شفافية للبطاقات */
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  width: 200px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: center;
  backdrop-filter: blur(5px); /* تأثير الضبابية على البطاقات */
  border: 2px solid #fff; /* إضافة حدود ناعمة حول البطاقة */
}

.card:hover {
  transform: scale(1.05); /* زيادة الحجم عند المرور على البطاقة */
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.5);
}

.card h3 {
  color: #007acc; /* لون العنوان */
  font-size: 24px;
  margin-bottom: 10px;
}

.card p {
  color: #555;
  font-size: 16px;
}

.card-icon {
  font-size: 40px;
  color: #007acc; /* لون الأيقونات */
  margin-bottom: 10px;
}
/* تصميم الأزرار */
button {
  padding: 12px 24px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-align: center;
  display: inline-block;
  margin: 10px;
}

/* زر إدخال المنتج */
.scan-button {
  background: linear-gradient(145deg, #007acc, #00aaff);
  color: white;
  box-shadow: 0 5px 15px rgba(0, 122, 204, 0.3);
}

.scan-button:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 20px rgba(0, 122, 204, 0.5);
}

.scan-button:active {
  background: linear-gradient(145deg, #005fa3, #0088cc);
  box-shadow: 0 5px 15px rgba(0, 122, 204, 0.6);
}

/* زر إخراج المنتج */
.remove-button {
  background: linear-gradient(145deg, #ff4d4d, #ff6666);
  color: white;
  box-shadow: 0 5px 15px rgba(255, 77, 77, 0.3);
}

.remove-button:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 20px rgba(255, 77, 77, 0.5);
}

.remove-button:active {
  background: linear-gradient(145deg, #e60000, #ff3333);
  box-shadow: 0 5px 15px rgba(255, 77, 77, 0.6);
}

/* تحسين تنسيق النصوص في الأزرار */
button:focus {
  outline: none;
}
